@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  background: #F2F2F2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1775px;

}
.header {
  display:flex;
  flex-wrap:wrap;
}
.header__container {
  padding: 0 15px;
  max-width: 950px;
  margin: 0 auto;
}
.menu__list {
  display: flex;
  margin: 50px 0 0 160px;
  gap: 10px;
}

.menu__item {

}

.menu__item:last-child {

}

.menu__item:first-child {

}

.menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #000000;

}
.menu__link_box-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu__link_gray {
  color: #000000B2;

}
.header__main {
  display: flex;
  align-items: center;
  margin: 40px 0 0 160px;
  min-width: 100%;
}
.header-search {
  display: flex;
  min-width: 700px;
}
.header-search__form {
  display: flex;
  align-items: center;
  padding: 19px 20px 18px 20px ;
  border-radius: 20px;
  outline: none;
  background: #EFE1E1;
  justify-content: space-between;
  flex: 1 0 80%;
}

.header-search__input {
  display: flex;
  align-items: center;
  background: #EFE1E1;
  color: #272727;
  font-size: 18px;
  line-height: 21.94px;

}

.header-search__cashier {
  margin-left: 22px;
  width: 28px;
  height: 25px;
}
.header-main__container {
  display: flex;
  justify-content: space-between;
}
.header-main_contacts {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
}
.header-main__telephone {
  display: flex;
  align-items: center;
}
.header-main__icon {
  height: 24px;
  width: 24px;
}
.header-main__telephone-number {
  margin-left: 24px;
  color:black;
  line-height: 21.94px;
  font-size: 18px;

}
.header-main_whatsup {
  margin-left: 20px;
}
.header-main_whatsup__icon {
  height: 27px;
  width: 27px;
}
.header-main__vk {
  margin-left: 20px;
}
.header-main__logo {

}

/*# sourceMappingURL=style.css.map */
